<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuários</title>
    <style>
        table, td, th{
            border : 1px solid black;
        }
        th{
            font-weight: bolder;
        }
        td, th{
            padding: 5px;
        }
        .foto{
            display:inline-block;
            border-radius: "50%";
            max-width: "20%";
            max-height: "20%";
        }
        h1, p, .foto{
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>Usuários</h1>
    <ul>
        <li><a href="/add">Adicionar</a></li>
        <li><a href="/">Listar</a></li>
    </ul>
    <br>