<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estilo</title>
    <style>
        form{
            width: 50% !important;
            margin: auto;
        }
        table{
            width: 50% !important;
            margin: auto;
        }
        table, td, th{
            text-align: center;
            font-family: Arial;
            border : 1px solid black;
        }
        th{
            font-weight: bolder;
        }
        td, th{
            padding: 5px;
        }
        .foto{
            display:inline-block;
            border-radius: "50%";
            max-width: "20%";
            max-height: "20%";
        }
        h1, p, .foto, li{
            font-family: Arial;
            text-align: center;
        }
    </style>
</head>
<body>
    <ul>
        <li><a href="/estilo/add">Adicionar</a></li>
        <li><a href="/estilo">Listar</a></li>
    </ul>
    <br>
    <form method="post" enctype="multipart/form-data">
        Nome: <input type="text" name="txtNomeEstilo" placeholder="Nome"><br>
        Sobre: <input type="text" name="txtDescricaoEstilo" placeholder="Sobre"><br>
        <select name="txtArtista" multiple>
            <%Artistas.forEach(function(artista){%>
                <option value="<%=artista._id%>"><%=artista%></option>
            <%})%>
        </select>
        <input type="submit" name="Adicionar">
    </form>
</body>
</html>